<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.appzoneltd.lastmile.driver">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_GPS" />

    <!-- for push notification -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL" />

    <!-- keep the device awake -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".Flow$LastMileApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/LastMileDriverAppTheme">


        <activity
            android:name=".Flow$SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashNoActionBarTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Flow$LoginActivity"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/SplashNoActionBarTheme"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />

        <activity
            android:name=".Flow$MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBarTheme"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />

        <activity
            android:name=".Flow$PickupProcessActivity"
            android:label="@string/screen_pickup_process_title"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBarTheme"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />

        <!--<activity-->
            <!--android:name=".Flow$ScalaTestActivity"-->
            <!--android:screenOrientation="portrait"-->
            <!--android:theme="@style/NoActionBarTheme">-->
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->

                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        <!--</activity>-->

        <service android:name=".firebase.InstanceIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <service android:name=".firebase.PushNotificationService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <service android:name="com.base.presentation.base.services.FakeService" />
        <service android:name=".services.tracking.LocationTrackingService" />
        <service android:name=".services.pickups.OnDemandPickupService" />


        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAhLusXxeIhk2-IYVYtfKbMcCw9YweZvvI" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@mipmap/ic_launcher" />

    </application>

</manifest>
